body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 233, 233);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
    
    }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(165, 165, 165);
    border-radius: 50px;
    }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
    }

main{
    margin-bottom: 60px;
    margin-top: 90px;
}

.header{
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,19,121,1) 32%, rgba(0,212,255,1) 100%);
    color:white;
    top: 0;
    padding: 0.6%;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-guilu{
    padding: 5px;
    width: 150px;
}

.header h1{
    font-size: 140%;
}

.header-btn-back{
    width: 120px;
    background-color: rgb(102, 228, 0);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(91, 255, 91);

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-btn-back:hover{
    transform: scale(1.03);
    transition: 0.4s;
    box-shadow:1px 1px 15px;
}

.header-btn-plus{
    width: 120px;
    background-color: rgb(253, 40, 93);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-btn-plus:hover{
    transform: scale(1.03);
    transition: 0.4s;
    box-shadow:1px 1px 15px;

}

.option-link{
    color: white;
    font-weight: bold;
    font-size: 140%;
    text-decoration: none;
}

#img-header-option{
    width: 18px;
    margin-right: 10px;
}

footer{
    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,19,121,1) 32%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 63%;
    position:fixed;
    bottom:0;
    width: 100vw;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.footer img{
    margin-left: 5px;
    height: 20px;
}

@media(max-width:768px){
  
    .header{
        height: 200px;
        display: flex;
        flex-direction: column;
    }

    ul{
        margin-top: 140px;   
    }

}