.list ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.api-list{
    margin: 10px;
}

.api{
    width: 320px;
    height: 100px;
    background-color: white;
    color: black;
    padding: 15px;
}

.header-api{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.options-api a img{
    width: 20px;
}

.pencil{
    text-decoration: none;
}

.icon-pencil{
    background-image: url(btn_edit_claro.jpg);
}

.icon-lixo{
    cursor: pointer;
}

.icon-pencil:hover{
    background-image: url(btn_edit_escuro.jpg);
}

.info-api{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    color: blue;
    text-decoration: none;
}

.status{
    background-color: rgb(5, 218, 5);
    color: white;
    width: 45px;
    padding: 5px;
    font-size: 80%;
    display: flex;
    justify-content: flex-end;
}

.status2{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 5px;
    font-size: 80%;
}

.status3{
    background-color: orange;
    color: white;
    padding: 5px;
    font-size: 80%;
}

.date-time{
    margin-top: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: space-between;
}

@media(max-width: 786px){
  
    .list{
        display: flex;
        justify-content: center;
    }

    .list ul{
        
        display: flex;
        flex-direction: column;
    }
}

